# Step 1

In [136]:
import pandas as pd
import numpy as np

bank = pd.read_csv("02-Python_Assignment_PyBank_Resources_budget_data.csv")
bank.head()

print("Financial Analysis")
print("-" *25)
num_rows = 0
for rows in bank.values:
    num_rows += 1
print(f'Total Months: {num_rows}')

Financial Analysis
-------------------------
Total Months: 86

In [159]:
bank.head(0)

       Date  Profit/Losses    Change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [ ]:
bank =

In [127]:
banks.count()

NameError: name 'banks' is not defined

# Step 2

In [46]:
net_total = bank.iloc[0:,1]
print (f'Total: ${net_total.sum()}')

Total: $38382578

In [34]:
net_total = 0
for i,j in bank.values:
    net_total + j
print(net_total)

0

In [43]:
total = bank.groupby["Profit/Losses"].sum()
print('total')

TypeError: 'method' object is not subscriptable

# Step 3

In [137]:
periods = bank['Profit/Losses'].count() - 1
change = bank["Profit/Losses"] - bank["Profit/Losses"].shift(1)
average_change = (change.sum()/ periods).round(2)
print(f'Average Change: ${average_change}')

Average Change: $-2315.12

# Step 4

In [83]:
bank['Profit/Losses'].max()

1170593

In [98]:
bank["Profit/Losses"].min()

-1196225

In [106]:
max_change = change.max()
print(max_change)

1926159.0

In [144]:
min_change = change.min()
print(min_change)

-2196167.0

In [139]:
bank["Change"] = change

In [140]:
bank.head()

       Date  Profit/Losses    Change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [158]:
bank[bank.Change== max_change]["Date"]

25    Feb-2012
Name: Date, dtype: object

In [145]:
bank[bank.Change== min_change]["Date"]

44    Sep-2013
Name: Date, dtype: object