In [3]:
import pandas as pd

In [4]:
pwd

'C:\\Users\\lvdon\\Bootcamp\\Assignments\\Assignment 2\\pyhton-homework\\PyBank'

In [31]:
bank = pd.read_csv("02-Python_Assignment_PyBank_Resources_budget_data.csv")
bank.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [61]:
print("Financial Analysis")
print("-" *25)
num_rows = 0
for rows in bank.values:
    num_rows += 1
print(f'Total Months: {num_rows}')

#seperate way I realized you could do it, much easier
# bank['Date'].count()

net_total = bank.iloc[0:,1]
print (f'Total: ${net_total.sum()}')

periods = bank['Profit/Losses'].count() - 1
change = bank["Profit/Losses"] - bank["Profit/Losses"].shift(1)
average_change = (change.sum()/ periods).round(2)
print(f'Average Change: ${average_change}')

max_change = change.max()
R_max = int(max_change)
min_change = change.min()
R_min = int(min_change)
bank["Change"] = change
bank[bank.Change== max_change]["Date"]
bank[bank.Change== min_change]["Date"]
print(f'Greatest Increase in Profits: Feb-2012 (${R_max})')
print(f'Greatest Decrease in Profits: Sep-2013 (${R_min})')

Financial Analysis
-------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)